/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '@szhsin/react-menu/dist/index.css';

:root {
  --theme-color: pink;
  --theme-color75: rgb(255, 207.75, 216);
  --theme-color50: rgb(255, 223.5, 229);
  --theme-color25: rgb(255, 239.25, 242);
}

body {
  position: relative;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  overflow-y: hidden;
  cursor: default;
}

button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

p {
  margin: 0;
}

input {
  font-size: 18px;
}

input:focus {
  outline: var(--theme-color) auto 1px;
}

.pointerCursor {
  cursor: pointer;
}

.unselectable {
  user-select: none;
}

.innerScrollList {
  overflow-y: scroll;
  overflow-x: hidden;
}

.innerScrollList::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: lightgrey;
}

.innerScrollList::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0);
  background-color: lightgrey;
}

.innerScrollList::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0);
  background-color: var(--theme-color);
}

.shadowBox {
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease;
}

.shadowBox:hover {
  box-shadow: 0 5px 10px 5px rgba(110, 110, 110, 0.4);
}

.oneLineText {
  display: -webkit-box !important;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.twoLineText {
  display: -webkit-box !important;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.rowWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.panelSection {
  padding: 10px;
  border: solid thin transparent;
  border-radius: 5px;
  background-color: transparent;
  transition: all ease 0.3s;
}

.panelSection:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.panelSection:active {
  border: solid white thin;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.backgroundProvider {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  content: '';
  z-index: -10000;
}

/* style for react-menu */

.rc-menu__item--hover {
  background-color: var(--theme-color25);
}

.rc-menu__item--active {
  background-color: var(--theme-color75);
}
